<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.domain.repository.MUserRoleMapper">
  <insert id="create" parameterType="com.example.springboot.domain.entity.MUserRole">
    INSERT INTO m_user_role (
      user_id, role_id, description, created_by, created_date, modified_by, modified_date
    ) VALUES (
      #{userId}, #{roleId}, #{description}, #{createdBy}, #{createdDate}, #{modifiedBy}, #{modifiedDate}
    )
  </insert>

  <delete id="deleteByUserId" parameterType="String">
    DELETE FROM m_user_role WHERE user_id = #{userId}
  </delete>
</mapper>
