<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.domain.repository.MUserMapper">
  <insert id="create" parameterType="com.example.springboot.domain.entity.MUser">
    INSERT INTO m_user (
      user_id, user_name, password, email_address_1, email_address_2, gender, nationality_1, nationality_2, date_of_birth, address, credit_card_no, credit_card_expiration_date, password_hint, password_hint_answer, session_timeout, email_newsletter_1, email_newsletter_2, readonly, enabled, created_by, created_date, modified_by, modified_date
    ) VALUES (
      #{userId}, #{userName}, #{password}, #{emailAddress1}, #{emailAddress2}, #{gender}, #{nationality1}, #{nationality2}, #{dateOfBirth}, #{address}, #{creditCardNo}, #{creditCardExpirationDate}, #{passwordHint}, #{passwordHintAnswer}, #{sessionTimeout}, #{emailNewsletter1}, #{emailNewsletter2}, #{readonly}, #{enabled}, #{createdBy}, #{createdDate}, #{modifiedBy}, #{modifiedDate}
    )
  </insert>

  <update id="updateEnabledByUserId" parameterType="com.example.springboot.domain.entity.MUser">
    UPDATE m_user SET enabled = #{enabled}, modified_by = #{modifiedBy}, modified_date = #{modifiedDate} WHERE user_id = #{userId}
  </update>

  <delete id="deleteByUserId" parameterType="String">
    DELETE FROM m_user WHERE user_id = #{userId}
  </delete>

  <select id="findByUserId" resultType="com.example.springboot.domain.entity.MUser">
    SELECT
      user_id,
      user_name,
      password,
      email_address_1,
      email_address_2,
      gender,
      nationality_1,
      nationality_2,
      date_of_birth,
      address,
      credit_card_no,
      credit_card_expiration_date,
      password_hint,
      password_hint_answer,
      session_timeout,
      email_newsletter_1,
      email_newsletter_2,
      readonly,
      enabled,
      created_by,
      created_date,
      modified_by,
      modified_date
    FROM
      m_user
    WHERE
      user_id = #{userId}
  </select>

  <select id="findAllByOrderByUserIdAsc" resultType="com.example.springboot.domain.entity.MUser">
    SELECT
      user_id,
      user_name,
      password,
      email_address_1,
      email_address_2,
      gender,
      nationality_1,
      nationality_2,
      date_of_birth,
      address,
      credit_card_no,
      credit_card_expiration_date,
      password_hint,
      password_hint_answer,
      session_timeout,
      email_newsletter_1,
      email_newsletter_2,
      readonly,
      enabled,
      created_by,
      created_date,
      modified_by,
      modified_date
    FROM
      m_user
    ORDER BY
      user_id ASC
  </select>
</mapper>
