<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.domain.repository.MUserMapper">
  <select id="findByUserId" resultType="com.example.springboot.domain.entity.MUser">
    SELECT
      user_id,
      user_name,
      password,
      email_address_1,
      email_address_2,
      gender,
      nationality_1,
      nationality_2,
      date_of_birth,
      address,
      credit_card_no,
      credit_card_expiration_date,
      password_hint,
      password_hint_answer,
      session_timeout,
      email_newsletter_1,
      email_newsletter_2,
      readonly,
      enabled,
      update_date
    FROM
      m_user
    WHERE
      user_id = #{userId}
  </select>
</mapper>
