<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<!-- configuration file for LogBack (slf4J implementation) -->
<configuration scan="true" scanPeriod="30 seconds" debug="false">

  <!-- include default configuration for spring boot. -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />

  <!-- load the properties of application.properties. -->
	<!-- <property resource="application.properties" /> -->
	<springProperty name="host" source="spring.mail.host"/>
	<springProperty name="port" source="spring.mail.port"/>
	<springProperty name="username" source="spring.mail.username"/>
	<springProperty name="password" source="spring.mail.password"/>
	<springProperty name="pattern" source="logging.pattern.console"/>
	<springProperty name="to-address" source="application.logging.mail.to-address"/>
	<springProperty name="from-address" source="application.logging.mail.from-address"/>
	<springProperty name="subject" source="application.logging.mail.subject"/>

  <!-- custom appender to send an email when an error occurs. -->
	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<smtpHost>${host}</smtpHost>
		<smtpPort>${port}</smtpPort>
		<!-- <SSL>${javax.mail.SSL}</SSL> * yahoo mail -->
		<!-- <STARTTLS>${javax.mail.startTLS}</STARTTLS> * gmail -->
		<username>${username}</username>
		<password>${password}</password>
		<to>${to-address}</to>
		<from>${from-address}</from>
		<subject>${subject}</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${pattern}</pattern>
		</layout>
		<asynchronousSending>true</asynchronousSending>
	</appender>

	<root>
		<appender-ref ref="CONSOLE"/> <!-- default appender -->
		<appender-ref ref="FILE"/>    <!-- default appender -->
		<appender-ref ref="EMAIL"/>   <!-- custom appender -->
	</root>

</configuration>
